---
- name: Bring up docker containers
  hosts: localhost
  gather_facts: false
  vars:
    inventory:
      - name: host_1
        image: "chrismeyers/centos7"
  roles:
    - role: "provision_docker"
      provision_docker_inventory: "{{ '{{' }}inventory{{ '}}' }}"
      provision_docker_use_docker_connection: true


- name: Hello world
  hosts: docker_containers
  roles:
    - "{{ role_name }}"

